# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
ENV/
env/
.venv/
.ENV/
.env/
env.bak/
venv.bak/

# Ignore environment variable files
.env

# Ignore IDE specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore pip metadata
*.dist-info/
*.egg-info/

# Database
database/bot.db